.btn1{
    background: green;
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 40px;
    text-transform: capitalize;
    box-shadow: 1px 1px 1px 1px #333;


}

.btn1:hover{
    background: red;
}